version: 1.0.{build}-{branch}

cache:
  - vendor/bundle

environment:
  matrix:
    - RUBY_VERSION: 22
    - RUBY_VERSION: 21
    - RUBY_VERSION: 200
    - RUBY_VERSION: 193

install:
  - set PATH=C:\Ruby%RUBY_VERSION%\bin;%PATH%
  - ruby -v
  - gem -v
  - bundle -v
  - bundle config --local path vendor/bundle
  - bundle install

build: off

test_script:
  - bundle exec rake
